@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
</head>
<body>
    <div>
        <h3>Форма оформления покупки</h3>
        <p>Для оформления покупки заполните следующие поля:</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.OrderId" name="OrderId" />
            <table>
                <tr>
                    <td>Дата оформления заказа:</td>
                    <td><input type="datetime" name="Date" /> </td>
                </tr>
                <tr>
                    <td>Стоимость заказа:</td>
                    <td><input type="text" name="Price" /></td>
                </tr>
                <tr>
                    <td>Курьер:</td>
                    <td><input type="text" name="CourierId" /></td>
                </tr>
                <tr>
                    <td>Менеджер по продажам:</td>
                    <td><input type="text" name="SalesManagerId" /></td>
                </tr>
                <tr>
                    <td>Клиент:</td>
                    <td><input type="text" name="ClientId" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>