@model WoodStore.Models.Order
@{
    ViewBag.Title = "Редактирование заказа";
}
<form asp-action="Update" asp-controller="Home" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Date" class="control-label">Имя</label>
        <input type="text" asp-for="Date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ClientId" class="control-label">Размер товара</label>
        <input type="text" asp-for="ClientId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Материал изготовления</label>
        <input type="text" asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SalesManagerId" class="control-label">Материал изготовления</label>
        <input type="text" asp-for="SalesManagerId" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>