@model IEnumerable<WoodStore.Models.Entity.Provider>
@{
    ViewData["Title"] = "Поставщики";

}
<!DOCTYPE html>

<html>
<head>
    <title>Магазин строительных материалов</title>
    <tr>
        <td>
            <a asp-action="GetOrders" asp-controller="Order">Заказы</a>
            <a asp-action="GetClients" asp-controller="Clients">Клиенты</a>
            <a asp-action="GetDeliverys" asp-controller="Delivery">Курьеры</a>
            <a asp-action="GetGoods" asp-controller="Goods">Товары</a>
            <a asp-action="GetAll" asp-controller="GoodsInOrder">Товары в заказе</a>
            <a asp-action="GetAll" asp-controller="SalesManager">Менеджеры</a>
            <a asp-action="GetPickers" asp-controller="Picker">Сборщики</a>
            <a asp-action="GetProviders" asp-controller="Provider">Поставщики</a>
        </td>
    </tr>
</head>
<body>
    <h3>Поставщики(Be update)</h3>
    <table class="table-condensed">
        <tr>
            <td>ФИО</td>
            <td>Номер телефона</td>

        </tr>
        @foreach (var provider in Model)
        {
            <tr>
                <td>@provider.Name</td>
                <td>@provider.Telephone</td>
                <td>
                    <a asp-action="Update" asp-controller="Provider" asp-route-id="@provider.Id">Изменить</a> |
                    <a asp-action="Delete" asp-controller="Provider" asp-route-id="@provider.Id">Удалить</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>