@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
</head>
<body>
    <div>
        <h3>Форма оформления покупки</h3>
        <p>Для оформления покупки заполните следующие поля:</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.GoodsId" name="GoodsId" />
            <table>
                <tr>
                    <td>Название товара:</td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td>Size:</td>
                    <td><input type="text" name="Size" /></td>
                </tr>
                <tr>
                    <td>Material:</td>
                    <td><input type="text" name="Material" /></td>
                </tr>
                <tr>
                    <td>Unit price:</td>
                    <td><input type="text" name="UnitPrice" /></td>
                </tr>
                <tr>
                    <td>ProviderId:</td>
                    <td><input type="text" name="ProviderId" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>