@model IEnumerable<WoodStore.Models.Goods>
@{
    ViewData["Title"] = "Список товаров";
    
}
<!DOCTYPE html>

<html>
<head>
    <title>Магазин строительных материалов</title>
</head>
<body>
    <h3>Товары(Be update)</h3>
    <table class="table-condensed">
        <tr>
            <td>Название</td>
            <td>Материал</td>
            <td>Цена за единицу</td>
            <td>Размер</td>
        </tr>
        @foreach (var goods in Model)
        {
    <tr>
        <td>@goods.Name</td>
        <td>
            <a asp-action="Details" asp-controller="Home" asp-route-id="@goods.Id">Подробнее</a> |
            <a asp-action="Edit" asp-controller="Home" asp-route-id="@goods.Id">Изменить</a> |
            <a asp-action="Delete" asp-controller="Home" asp-route-id="@goods.Id">Удалить</a>
        </td>
    </tr>
        }
    </table>
</body>
</html>