@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <title>Добро пожаловать! Заполните свои контактные данные.</title>
</head>
<body>
    <div>
        <h3>Форма оформления покупки</h3>
        <p>Для оформления покупки заполните следующие поля:</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.PickerId" name="PickerId" />
            <table>
                <tr>
                    <td>Введите ФИО:</td>
                    <td><input type="text" name="FullName" /> </td>
                </tr>
                <tr>
                    <td>Номер телефона:</td>
                    <td><input type="text" name="Telephone" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>