@model WoodStore.Models.Entity.Picker
@{
    ViewBag.Title = "Редактирование информации о Сборщике";
}
<form asp-action="Update" asp-controller="Picker" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="FullName" class="control-label">Имя</label>
        <input type="text" asp-for="FullName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Telephone" class="control-label">Номер телефона</label>
        <input type="text" asp-for="Telephone" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>